@{
    Layout = null;;
}

<header class="ca-bg3">
    @using (Html.BeginContainer(new { rel = "menu", @class="text-right" }, "nav"))
    {
        using(Html.BeginRow())
        {
            using (Html.BeginColumn(4))
            {
                <img src="~/content/images/logo2.png"/>
            }
            using (Html.BeginColumn(8))
            {
                using(Html.BeginRow())
                {
                    using(Html.BeginColumn(12))
                    {
                        <div class="ca-site-name">CourseAider</div>
                        @Html.Partial("_LoginPartial")
                    }
                }
                <ul class="list-inline ca-menu">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class="btn btn-default" })
                        @Html.ActionLink("Courses", "Index", "Course", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-default" })
                    </li>
                </ul>
            }
        }
    }
</header>