@{
    Layout = null;;
}

<header class="ca-bg3">
    @using (Html.BeginContainer(new { rel = "menu", @class="text-right" }, "nav"))
    {
        using(Html.BeginRow())
        {
            using (Html.BeginColumn(4))
            {
                <img src="~/content/images/logo2.png"/>
            }
            using (Html.BeginColumn(8))
            {
                using(Html.BeginRow())
                {
                    using(Html.BeginColumn(12))
                    {
                        <div class="ca-site-name">CourseAider</div>
                        <a href="/">Login</a>
                    }
                }
                <ul class="list-inline ca-menu">
                    <li>
                        <a class="btn btn-default" href="/">Home</a>
                        <a class="btn btn-default" href="/">Courses</a>
                        <a class="btn btn-default" href="/">Popular</a>
                        <a class="btn btn-default" href="/">New</a>
                        <a class="btn btn-default" href="/">About</a>
                    </li>
                </ul>
            }
        }
    }
</header>