<h2>Latest Courses</h2>
<div class="ca-courses">
    @using (Html.BeginRow())
    {
        using (Html.BeginColumn(3))
        {
            <a href="/">
                <img src="http://www.ct4me.net/images/AlgebraLine.jpg">
                <div class="ca-title-holder">
                    <h3>Algebra 2</h3>
                </div>
            </a>
        }
        using (Html.BeginColumn(3))
        {
            <a href="/">
                <img src="https://i.ytimg.com/vi/VeEneWqC5a4/hqdefault.jpg">
                <div class="ca-title-holder">
                    <h3>Data Structures</h3>
                </div>
            </a>
        }
        using (Html.BeginColumn(3))
        {
            <a href="/">
                <img src="http://news.sciencemag.org/sites/default/files/styles/thumb_article_l/public/media/sn-cryptography_0.jpg?itok=a4H3ZoHu">
                <div class="ca-title-holder">
                    <h3>Cryptography</h3>
                </div>
            </a>
        }
        using (Html.BeginColumn(3))
        {
            <a href="/">
                <img src="http://upload.wikimedia.org/wikipedia/commons/1/1b/Greek_philosopher_busts.jpg">
                <div class="ca-title-holder">
                    <h3>Philosophy</h3>
                </div>
            </a>
        }
    }
</div>