@model List<CourseAider.Models.Course>
<h2>Latest Courses</h2>
<div class="ca-courses">
    @using (Html.BeginRow())
    {
        foreach(var course in Model)
        {
             using (Html.BeginColumn(3))
             {
                <a href="/Course/Details/@course.Id">
                    <img src="@course.Image">
                    <div class="ca-title-holder">
                        <h3>@course.Name</h3>
                    </div>
                </a>
            }
        }
    }
</div>