@model List<CourseAider.Models.UserProfile>

<h2>Monthly Top Three</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <th>@user.UserId</th>
                <th>@user.UserName</th>
                <th>@user.Score</th>
            </tr>
        }
    </tbody>
</table>