@model CourseAider.Models.Group

@{
    ViewBag.Title = "Delete";
}

<section class="ca-bg1">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(3))
            {
                <div class="text-center">
                    <h1>Delete @Model.Name</h1>
                </div>
            }
            using (Html.BeginColumn(9))
            {
                <p>
                    <i>
                        If I am walking with two other men, each of them will serve as my teacher. I will pick out the good points
                        of the one and imitate them, and the bad points of the other and correct them in myself.
                    </i>
                </p>
                <p class="text-right" style="margin-right:25px"><b>Confucious</b></p>
            }
        }
    }
</section>

<section class="ca-bg2 img" style="background-image: url('/Images/crusades-H.jpeg')"></section>

<section class="ca-bg3">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(12))
            {
                <p>
                    <i>
                        When we see persons of worth, we should think of equaling them; when we see persons of a contrary character, we should turn inwards and examine ourselves.
                    </i>
                </p>
                <p class="text-right" style="margin-right:25px"><b>Confucious</b></p>
            }
        }
    }
</section>

<section class="ca-bg2">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(12))
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <input type="submit" value="Delete" class="requireConfirmation btn btn-primary"
                               data-confirm-msg="This will ireversibly delete the group and all of its files, do you wish to continue?" />
                    </p>
                }
            }
        }
    }
</section>