@{
    ViewBag.Title = "About";
}

<section class="ca-bg1">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(5))
            {
                <h1>CourseAider - Advancing togheter against ignorance</h1>
            }
            using (Html.BeginColumn(7))
            {
                <p>
                    We are course aiders, we are the warriors of the light, we offer:
                    <ul class="list-unstyled">
                        <li>Education advancement.</li>
                        <li>Enchanced teaching and learning experience.</li>
                        <li>Integrated studing environment.</li>
                    </ul>
                </p>
            }
        }
    }
</section>

<section class="ca-bg1">
    @using (Html.BeginContainer())
    {
        using (Html.BeginRow())
        {
            using (Html.BeginColumn(12))
            {
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, mi sed vulputate malesuada, nisi nunc fringilla mi, in cursus nulla enim id tellus. Sed condimentum eros ut urna tristique mollis. Donec in egestas nisi, ac accumsan turpis. Sed aliquet auctor volutpat. Nullam ornare dui at varius pretium. Phasellus vehicula nibh ac quam commodo, vitae mattis tellus rhoncus. Cras vitae tempus nibh, eget cursus neque. Suspendisse sit amet nulla faucibus, tempus elit nec, malesuada odio. Morbi accumsan suscipit vehicula. Nulla vehicula justo tristique eros aliquet, vitae commodo ipsum vestibulum. Nullam eleifend sagittis quam, at tristique mi volutpat et. Aenean euismod commodo elit ut imperdiet. Mauris posuere, neque at tempus molestie, neque massa congue ligula, quis fermentum libero est et massa. Donec feugiat nisi metus, non aliquam dolor placerat et. Aenean ullamcorper, odio ut rhoncus sagittis, sapien velit varius ante, eu tincidunt nunc ligula vel velit.
                </p>
                <p>
                    Etiam eu hendrerit quam, vel bibendum tortor. Sed sit amet tincidunt urna. Nulla eget posuere nisl. Duis ullamcorper elit eu ex faucibus congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ut efficitur ligula. Donec nec velit luctus, faucibus diam non, egestas erat. Nam commodo ex et pharetra tincidunt. Aenean venenatis auctor leo eu placerat. Nullam ultricies, ligula et dapibus malesuada, neque lacus sagittis neque, sit amet pretium purus nibh luctus erat. Proin ac sollicitudin lorem.
                </p>
                <p>
                    Donec facilisis libero sed nunc tristique dignissim. Sed volutpat consectetur ipsum sollicitudin ultrices. Quisque in feugiat augue. Maecenas non augue vel neque feugiat maximus. Fusce ac eros eget enim sagittis sagittis quis at sapien. Praesent porta eros risus, at elementum dui tincidunt sit amet. Proin nibh est, varius et augue eu, iaculis pharetra eros. Donec non purus arcu. Mauris pretium mi et est iaculis dictum.
                </p>
                <p>
                    Proin massa mi, mollis sit amet hendrerit in, posuere vel mauris. Nunc nulla lectus, egestas a sollicitudin efficitur, iaculis vitae dolor. Donec eu diam ut ligula faucibus lobortis sed sed mi. Etiam porta lacus in risus consectetur sodales. Sed quam sem, tincidunt eu congue sed, placerat aliquet dui. Fusce iaculis, ipsum eget efficitur aliquam, magna diam pretium metus, sollicitudin tempus dui tellus eget lorem. Praesent placerat felis at mauris porttitor molestie. Etiam pellentesque neque in fermentum commodo. Nam eget elit eu nibh hendrerit mattis. Sed lacus est, gravida at tempor sed, tempor ac elit. Vestibulum nec augue mauris. Donec sit amet mauris nunc. Nulla facilisi.
                </p>
                <p>
                    Vestibulum euismod nec lorem a aliquam. Fusce tincidunt ac lacus at ultricies. Phasellus maximus nisl ut sapien auctor bibendum. Vestibulum quis pulvinar nunc. Nulla facilisi. Sed congue tristique porta. Vivamus non tortor eget eros auctor tincidunt ac at libero. In suscipit ornare viverra. Phasellus nec tincidunt sem. Etiam finibus congue lectus. Vestibulum quis imperdiet ipsum.
                </p>
            }
        }
    }
</section>

