@{
    Layout = "~/Views/_DefaultLayout.cshtml";
    ViewBag.Title = "Index";
    
}

@using(Html.BeginContainer())
{
    @using(Html.BeginRow())
    {
        @using(Html.BeginColumn(12))
        {
            
        }
    }
}
<h2>Index</h2>
