body{
    font-family:'Century Gothic';
    color:#b10d0d;
}
section{
    padding:10px 0px 10px 0px;
}
h1,h2,h3,h4,h5,h6,p{
    margin:5px 0px 5px 0px;
    padding:5px 0px 5px 0px;
}
h1{
    font-size:1.5em;
}
h2{
    font-size:1.3em;
}
h3{
    margin:0;
    font-size:1.1em;
}

.btn-primary
{
    background:#b10d0d;
    border:1px solid black;
    color:white;
}
.btn-primary:hover
{
    background:white;
    border:1px solid #b10d0d;
    color:#b10d0d;
}

input[type="submit"]
{
    background:#b10d0d;
    color:white;
}

figure.ca-testimonial{
    margin-top:60px;
    font-size:1.5em;
    font-style:italic;
    font-family:"Goudy Old Style";
    color:#88cc88;
    text-shadow:1px 1px 0px #b10d0d;
}
figure.ca-testimonial img{
    box-shadow:3px 3px 5px #b10d0d;
    border:1px solid black;
    margin-left:50px;
    margin-right:5px;
    float:left;
    width:80px;
    height:80px;
    border-radius:150px;
}
figure.ca-testimonial span{
    font-weight:bold;
}
.ca-courses img{
    vertical-align: middle;
    width:100%;
    height:80px;
}

.ca-title-holder{
    position:absolute;
    width:90%;
    top:20%;
    height:2.5em;
    left:5%;
    background:rgba(77,77,77,0.8);
}
.ca-title-holder > h3{
    color:white;
}
.ca-courses{
    text-align:center;
}
.ca-bg1{
    background-color:white;
}
.ca-bg2{
    background-color:black;
    border-top:2px solid #b10d0d;
    border-bottom:2px solid #b10d0d;
}
.ca-checkbox-list{
    list-style:none;
    padding-left:10px;
}
.ca-checkbox-list li{
    margin:5px;
    font-style:italic;
}

.ca-checkbox-list > li > span.glyphicon{
    color:#88cc88;
}

.ca-bg3{
    background-color:#b10d0d;
    color:white;
}
.ca-bg3 a{
    color:white;
    text-shadow:0px 1px black;
}
.ca-bg3 .btn {
    color:#b10d0d;
}
.ca-bg3 .btn:hover{
    background:#b10d0d;
    color:white;
}

.ca-bg4{
    background-color:silver;
}

.btn{
    border-radius:0;
}

.ca-menu{
    margin: 10px -5px 10px 0px;
}
.ca-site-name{
    margin: 10px 0px 0px 0px;
    font-size:30px;
    font-family:'Century Gothic';
    color:#b10d0d;
    text-shadow:0px 1px white,0px -1px white,1px 0px white,-1px 0px white;
}
.ca-chat{
    height:350px;
}

.ca-chat-window{
    height:100%;
    background:white;
    padding:5px;
    overflow-y:scroll;
}
.ca-user-list h4{
    display:inline;
    width:auto;
}
.ca-user-list span{
    border:1px solid #999;
    background:white;
    padding:2px;
    border-radius:5px;
}
.ca-user-list span:after{
    
    content:","
}
.ca-user-list span:last-of-type:after{
    content:""
}